@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
/* เวทมนตร์ทำตัวหนังสือโปร่งใสมีแค่เส้นขอบ (สไตล์ Y2B) */
.border-text {
  -webkit-text-stroke: 2px white; /* ความหนาและสีของเส้นขอบ */
  color: transparent; /* ทำให้สีข้างในโปร่งใส */
}